
.formContainer {
    display: none;
    border: solid;
    border-radius: 10px;
    width: 30vw;
    padding: 10px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.add {
    margin-top: 20px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bookshelf {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 75vh;
    border: solid 1px green;
    gap: 10px;
}

.book {
    border-radius: 5px;
    display: flex;
    background-color: lightyellow;
    border: solid lightslategray 1px;
    padding: 5px;
    text-align: center;
    justify-content: space-between;
}

.info {
    align-self: center;
}

.book h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.book h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
