
.formContainer {
    display: none;
    border: solid;
    border-radius: 10px;
    width: 30vw;
    padding: 10px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.add {
    margin-top: 20px;
    margin-left: 45.5%;
}

.bookshelf {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 5%;
    margin-left: 12.5vw;
    width: 75vw;
    height: 75vh;
    border: solid 1px green;
    gap: 10px;
}

.book {
    background-color: lightyellow;
    border: solid red 1px;
}
