
.formContainer {
    background-color: lightgrey;
    border: solid;
    border-radius: 10px;
    width: 30vw;
    padding: 10px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.myForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.add {
    margin-top: 20px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.remove {
    transition: 200ms;
    overflow: hidden;
    background-color: rgb(233, 156, 156);
    position: absolute;
    top: 1px;
    left: 1px;
}

.remove:hover {
    transition: 200ms;
    border-radius: 5px;
    padding: 5px;
}

.read {
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    right: 10px;
    bottom: 0;
}

.read:hover {
    cursor: pointer;
    border: 0.2px dotted;
}

.bookshelf {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 75vh;
    border: solid 1px green;
    gap: 10px;
}

.book {
    position: relative;
    border-radius: 5px;
    background-color: lightyellow;
    border: solid lightslategray 1px;
    padding: 5px;
    text-align: center;
}

.info {
    margin-top: 50%;
}

.book h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.book h3 {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}
